page-feed {
    h2.details_title {
        color:purple;
        font-weight: bold;
    }
    .details-header{
        text-align:center;
        color:purple;
    }
    p.details_date {
        color: red;
    }
    p.details-description{
        text-align: justify;
    }
}